# Compiled source #
###################
*.o
*.a

# Specific exes #
#################
raw_binary/include/
raw_binary/tools/convert_espa_to_bip
raw_binary/tools/convert_espa_to_gtif
raw_binary/tools/convert_espa_to_hdf
raw_binary/tools/convert_espa_to_netcdf
raw_binary/tools/convert_lpgs_to_espa
raw_binary/tools/convert_modis_to_espa
raw_binary/tools/create_date_bands
raw_binary/tools/create_angle_bands
raw_binary/tools/create_land_water_mask
raw_binary/tools/espa_band_subset
raw_binary/tools/espa_product_subset
raw_binary/tools/clip_band_misalignment

